<div>
  <h4>ngFor with Searching and Sorting</h4>
  <input type="text" placeholder="Search" [(ngModel)]="str">
  &nbsp;
  <input type="button" value="Search" (click)="onSearchClick()">
  <br/> Sort :
  <select [(ngModel)]="sortcolumn">
    <option>empid</option>
    <option>empname</option>
    <option>salary</option>
  </select>

  &nbsp;
  <select [(ngModel)]="order">
    <option value="1">Ascending Order</option>
    <option value="-1">Descending Order</option>
  </select>
  &nbsp;
  <input type="button" value="Sort" (click)="onSortClick()">

  <table border="1">
    <tr>
      <th>Emp Id</th>
      <th>Emp Name</th>
      <th>Salary</th>
    </tr>

    <tr *ngFor="let employee of employees; let i=index">
      <td>{{employee.empid}}</td>
      <td>{{employee.empname}}</td>
      <td>{{employee.salary}}</td>
    </tr>
  </table>
</div>
